name: Build BadSuccessor

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.3.1

    - name: Build solution
      run: msbuild BadSuccessor.sln /p:Configuration=Release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: BadSuccessor-exe
        path: BadSuccessor/bin/Release/BadSuccessor.exe
